---
layout: page
title: Services
permalink: /services/
---
<div class="row">
  {% assign items = site.services | sort: 'order' %}
  {% for s in items %}
    <div class="col-sm-4">
      <div class="card text-center">
        {% if s.icon %}<img class="img-responsive center-block" style="max-width:120px" src="{{ s.icon | relative_url }}" alt="">{% endif %}
        <h3>{{ s.title }}</h3>
        {% if s.excerpt %}<p>{{ s.excerpt }}</p>{% endif %}
        <p><a class="btn btn-primary" href="{{ s.url | relative_url }}">Learn more</a></p>
      </div>
    </div>
  {% endfor %}
</div>